<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<title>Neighborhood Map Project</title>

	<!-- JSGlue -->
	{{ JSGlue.include() }}

	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- customized styles -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

    <!-- latest minified jQuery 3.x -->
    <script
   		src="https://code.jquery.com/jquery-3.1.1.min.js"
   		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
   		crossorigin="anonymous">
  	</script>

  	<!-- Latest compiled and minified Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  	<!-- Knockout.js -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>

  	<!-- app.js -->
	<script src="{{url_for('static', filename='js/app.js')}}"></script>

  	<!-- Google Maps API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByL-V9JZay1zkJLILE-7aXma_JGOtQ0YA&callback=initMap&libraries=places"
	    async defer></script>
</head>
<body>

	<!-- Google Map -->
	<div id="map"></div>

	<!-- New Place Input Box -->
	<form id="new-place-input" data-bind="submit: searchNewPlaces">
		<input id="new-place-textbox" type="text" data-bind="value: newPlacesSearchValue" name="new-place" placeholder="Add New Location!">
		<button id="new-place-btn">+</button>
	</form>

	<!-- Currently Selected Place Info -->
	<div id="current-place">
		<div data-bind="with: selectedPlace">
			<h1><strong data-bind="text: $data.PlacesObj.name"></strong></h1>
			<p data-bind="text: $data.PlacesObj.formatted_address"></p>
		</div>
		<button class="btn btn-primary" data-bind="visible: selectedPlace, click: modalIsOpen" data-toggle="modal" data-target="#MoreInfoModal">More Info</button>
	</div>

	<!-- New Place Search List -->
	<ul id="new-place-search-list" data-bind="foreach: newPlaceSearchResults">
		<li data-bind="click: $parent.addNewPlace">
			<img data-bind="attr: { src: $data.icon }">
			<h3><strong data-bind="text: $data.name"></strong></h3>
			<h3 data-bind="text: $data.formatted_address"></h3>
			<h3>Rating: <span data-bind="text: $data.rating"></span></h3>
		</li>
	</ul>

	<!-- Main UI Window -->
	<div id="main-ui-window-bottom">
		<div class="main-window-controller" data-bind="click: mainWindowControl">
			<div class="grab-bar">Click To Open Window</div>
		</div>
		<hr>

		<input data-bind="textInput: placesFilterText" id="places-search-box" type="text" name="search-places" placeholder="&#128269; Search for a place or address">
		
		<ul id="places-list" data-bind="foreach: places">
			<li data-bind="visible: $data.searchMatched, click: $parent.goToPlace">
				<h1 class="h1"><strong data-bind="text: $data.PlacesObj.name"></strong></h1>
				<p data-bind="text: $data.PlacesObj.formatted_address"></p>
				<button class="btn btn-danger btn-xs" data-bind="visible: $data.PlacesObj.name !== 'Current Location',click: $parent.deletePlace">DELETE</button>
			</li>
		</ul>
	</div>

	<!-- More Info Modal -->
	<div class="modal fade" id="MoreInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
	      		<div class="modal-header">
	        		<button data-bind="click: modalClosed" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title" id="myModalLabel">More Info</h4>
	      		</div>
	      		<div class="modal-body">
	        		<img data-bind="visible: modalLoaderVisible" id="more-info-loader" src="{{url_for('static', filename='images/ajax-loader.gif')}}">
	        		<p data-bind="text: modalErrorMsg"></p>
	        		<div data-bind="with: modalData">
	        			<h1 class="h1" data-bind="text: $data.name"></h1>
	        			<img data-bind="visible: $data.image_url, attr: { src: $data.image_url }" height="200px">
	        			<h2 class="h2">Phone: <span data-bind="text: $data.phone"></span></h2>
	        			<h2 class="h2">Rating: <span data-bind="text: $data.rating"></span></h2>
	        			<h2 class="h2">Price: <span data-bind="text: $data.price"></span></h2>
	        			<h2 class="h2" data-bind="visible: $data.is_closed">CLOSED</h2>
	        		</div>
	      		</div>
	      		<div class="modal-footer">
	        		<button data-bind="click: modalClosed" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
    		</div>
  		</div>
	</div>
</body>
</html>